
.calculator{
    border:2px solid gray;
    width:400px;
    height:600px;
    margin-top: 50px;
    margin-left: 550px;
    background-color: rgb(237, 238, 239);
}
.calculator input{
    margin-top: 20px;
    margin-left: 20px;
    width: 350px;
    height: 80px;
    font-size: x-large;
    background-color: rgb(228, 230, 232);
    
}
.grid-cal{
    margin-top: 30px;
    margin-left: 22px;
    display: grid;
    grid-template-columns:repeat(4,80px);
    grid-template-rows: repeat(4,80px);
    gap:10px;
    

}
.equal{
    grid-row: span 4;
    background-color: rgb(89, 151, 243);
    font-size: x-large;
}
.cal-button{
    font-size: x-large;
}

.cal1-button{
    width: 80px;
    height: 80px;
    font-size: x-large;
}
.op-button{
    background-color: rgb(178, 179, 180);
    font-size: x-large;
}
