

.signup{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 217, 233);
    background-image: url("./Asserts/blue_sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    gap:5px;
    background-color: rgb(80, 180, 220);
    

    padding: 20px;
    border: 5px solid black;
    font-size: medium;
    box-shadow: 40px 40px 500px #03396f;
    border:none;
    border-radius: 7px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.data input{
    border:none;
    border-radius: 5px;
    height: 30px;
    width:250px;
}
.click{
    font-size: 20px;
    padding: 50px;
    width: 85px;
    height:50px;
}



body{
    margin: 0;
    padding:0;
}

.header-container{
    display: flex;
    padding-right: 100px;
    background-color: rgb(15, 14, 14);
    
}
.head-items{
    display: flex;
    color:beige;
    gap:40px;
    list-style: none;
    font-size: 20px;
}

.logo-image{
    padding-right:150vh;
    width: 75px;
    height:75px;
    object-fit: contain;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width:400px;
    gap:5px;
    background-color: rgb(44, 122, 61);
    padding: 20px;
    border: 5px solid black;
    font-size: medium;
    box-shadow: 40px 40px 500px #51ba67;
    border:none;
    border-radius: 10px;
}
.login-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    font-size: 20px;
}
.login{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 244, 154);
    background-image: url("./Asserts/green_sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    object-fit: cover;
}
.login-click {
    padding-left: 130px;
    padding-bottom: 100px;
    width: 180px;
    height:50px;
}

.login-data input{
    height: 25px;
    width:250px;
    font-size: 15px;
    border-radius: 5px;
    border-radius: 5px;

}



.images img{
    width:360px;
    height:200px;
    padding-top: 18px;;
    padding-left: 18px;
    border-radius:30px;
}
.home-container{
    
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    
    
}


.head-items a{
    text-decoration: none;
    color:wheat;
    transition: 1s;
}

.head-items a:hover{
    color:aliceblue;
}

.nature {
    display: inline-block;
    width: 400px;
    height: 400px;
    background: rgb(237, 238, 236);
    margin: 10px;
    border-radius:20px;
    box-shadow:20px 20px 30px rgb(91, 89, 89);
    
}
.nature p{
    font-size: medium;
    text-align: left;
    padding-left: 7px;
}


.about-container{
    position: relative;      
    padding-left: 8%;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: visible;
    min-height: 380px;
}
.box{
    margin-bottom: 40px;
    height: 550px;
    width: 90%;
    background-image: url(https://quotefancy.com/media/wallpaper/3840x2160/19735-Vincent-van-Gogh-Quote-If-you-truly-love-nature-you-will-find.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
    position: relative;  
}

.box:hover{
    border-radius: 15%;
    transform: scale(1.1) rotate(90deg) skew(1.5) ;
    background-image: url(https://onetreeplanted.org/cdn/shop/files/William_Shakespeare_Quote.jpg?v=1745954197); 
}

.home-container :hover{
    transform: scale(1.1);
}
.vi-bg{
      
  right: 500px;               
  bottom: 10px;           
  height: 600px;          
  width: 90%; ;             
  max-width: 100%;
  object-fit: cover;
  z-index: 1;         
  border-radius: 7px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}


.footer-container{
    display: flex;
    padding-right: 100px;
    width: 100%;
    height: 70px;
    background-color: rgb(15, 14, 14);
    color: wheat;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.content{
    position:absolute;
    top:70%;
    left: 41%;
    z-index: 2;
    font-size: xx-large ;
    color: rgb(33, 31, 31);
    font-family: 'Times New Roman', Times, serif;
}
.contact-container{
    font-size: large;
    margin-left: 25%;
    margin-bottom: 40px;
    width: 50%;
    height: 50%;
    border: 2px solid gray;
    text-align: center;
    background-color: #98f7ad;
}
.contact-container input{
    background-color: #d7f7d7;
    width: 200px;
    height: 20px;
}
.contact-container textarea{
    background-color: #d7f7d7;
    margin-left: 45px;
    width: 250px;
    height: 80px;
}
.contact-container button{
    padding-left: 10px;
    height: 30px;
    width:120px;
    background-color:#bdf2bd;
}