

.signup{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 217, 233);
    background-image: url("./Asserts/blue_sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    gap:5px;
    background-color: rgb(80, 180, 220);
    

    padding: 20px;
    border: 5px solid black;
    font-size: medium;
    box-shadow: 40px 40px 500px #03396f;
    border:none;
    border-radius: 7px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.data input{
    border:none;
    border-radius: 5px;
    height: 30px;
    width:250px;
}
.click{
    font-size: 20px;
    padding: 50px;
    width: 85px;
    height:50px;
}


body{
    margin: 0;
    padding:0;
}

.header-container{
    display: flex;
    padding-right: 100px;
    background-color: rgb(15, 14, 14);
    
}
.head-items{
    display: flex;
    color:beige;
    gap:40px;
    list-style: none;
    font-size: 20px;
}

.logo-image{
    padding-right:150vh;
    width:75px;
    object-fit: contain;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    gap:5px;
    background-color: rgb(44, 122, 61);
    padding: 20px;
    border: 5px solid black;
    font-size: medium;
    box-shadow: 40px 40px 500px #51ba67;
    border:none;
    border-radius: 10px;
}
.login-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    font-size: 20px;
}
.login{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 244, 154);
    background-image: url("./Asserts/green_sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    object-fit: cover;
}
.login-click {
    padding-left: 130px;
    padding-bottom: 100px;
    width: 180px;
    height:50px;
}

.login-data input{
    height: 25px;
    width:250px;
    font-size: 15px;
    border-radius: 5px;
    border-radius: 5px;

}
.images{
    width:70%;
    gap:inherit;
    border-radius: 5px;
    
}
