body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #222;
    transition: background 0.3 ease,color 0.3s ease;
}
/* Custom Class*/
body.dark{
    background:#121212 ;
    color: #ccc;
}
body.dark .toogle-card{
    background-color: rgba(20, 20, 20, 0.9);
    box-shadow: 0px 4px 18px rgba(0,0,0,7);
}
.toogle-card{
    padding: 25px 35px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    border: none;
    box-shadow:4px 4px 30px rgba(0,0,0,0.25);
    border-radius: 6px;
    
}
button{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button:hover{
    transform: translateY(-2px);
}
.light-but{
    background:#ffff;
    border:1px solid #ccc;
}
.dark-but{
    background: #222;
    color:#fff;
}